<% include header %>


            <div class="inner cover" id="app">
                <h1 class="cover-heading"><%- title %></h1>
                <p class="lead"><%- lead %></p>
                <div class="chat-wrapper">
                    <div id="user-form" class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="input-group input-group-lg">
                                    <input id="username" class="form-control" type="text" placeholder="Your name or nickname...">
                                    <span class="input-group-btn">
                                        <input type="submit" class="btn btn-success btn-lg" value="Enter">
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="message-area" class="row" style="display:none">
                        <div class="col-xs-9">
                            <div class="card card-inverse">
                                <div class="card-header card-success">
                                    Messages
                                </div>
                                <div class="card-block" id="chat-block">
                                    <ul id="chat" class="list-unstyled">
                                    </ul>
                                </div>
                                <div class="card-footer">
                                    <form id="message-form" autocomplete="off">
                                        <div class="input-group input-group-sm">
                                            <input id="message" class="form-control input-sm" type="text" placeholder="Type here...">
                                            <span class="input-group-btn">
                                                <input type="submit" class="btn btn-success btn-sm" value="Send message">
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="card card-inverse">
                                <div class="card-header card-success" id="online-users-header">
                                    <span class="card-title">Users in the rooom:</span>
                                </div>
                                <div class="card-block" id="online-users-block">
                                    <ul id="users"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>&copy; 2016 <a href="$">Node.js 6 Blueprints Book</a>, by <a href="https://twitter.com/newaeonweb">@newaeonweb</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<% include footer %>
