// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;

// Theme Variables

$brand-primary: #0085A1;
$gray-dark: lighten(black, 25%);
$gray: lighten(black, 50%);
$white-faded: fade(white, 80%);
$gray-light: #eee;
