{% extends 'layout.html' %}

{% block content %}
<div class="section">
    <div class="container">
        <br><br>
        <h1 class="header center teal-text">{{ title }}</h1>
        <div class="row center">
            <h5 class="header col s12 light">Welcome to {{ title }}</h5>
        </div>
        <div class="row">
            <div class="col s12">
                {% if message %}
                <h4 class="center teal-text">
                    {{ message }}
                </h4>
                {% endif %}
                <h5 class="grey-text">
                    Insert a new location
                </h5>
                <br>
                <form action="/locations" method="POST">
                    <div class="row">

                        <div class="input-field col s4">
                            <input placeholder="Insert Location Title" name="title" id="title" type="text" class="validate">
                            <label for="title">Title</label>
                        </div>
                        <div class="input-field col s4">
                            <input placeholder="Insert Longitude" name="long" id="long" type="text" class="validate">
                            <label for="long">Longitude</label>
                        </div>
                        <div class="input-field col s4">
                            <input placeholder="Insert lat" name="lat" id="lat" type="text" class="validate">
                            <label for="lat">Latitude</label>
                        </div>
                        <br>
                        <br>
                        <div class="col s12 center">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
