{% extends 'layout.html' %}

{% block content %}
<div id="map" style="height: 300px"></div>
<div class="section">
    <div class="container">
        <br>
        <h1 class="header center teal-text">{{ title }}</h1>
        <div class="row center">
            <h5 class="header col s12 light">Welcome to {{ title }}</h5>
        </div>
        <div class="row center">
            <a href="locations/add" id="download-button" class="btn-large waves-effect waves-light teal">Add your location</a>
        </div>
        <br><br>
    </div>
</div>
<!-- Tracking current user position -->
<script src="/js/getCurrentPosition.js"></script>
{% endblock %}
