<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
</head>
<body>
    <% include ../partials/header %>

    <div class="container">
      <div class="page-header m-t-1">
        <h1><%= title %></h1>
      </div>
      <p class="lead">Welcome to <%= title %></p>
    </div>

    <% include ../partials/footer %>
    <% include ../partials/javascript %>
</body>
</html>
